* {
    margin: 0;
    text-align: center;
}

body{
    background: linear-gradient(45deg, limegreen, rgb(224, 68, 217));
}

table{
    width: 100%;
    margin-top: 30px;
}

img{
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

#header {
    background-color: black;
    height: 70px;
}

h1 {
    color: rgb(209, 26, 154);
}

#brand {
    width: 40%;
    float: left;
    line-height: 70px;
    height: 70px;
    text-align: center;
}

#menu {
    width: 60%;
    float: right;
    line-height: 70px;
    height: 70px;
    text-align: center;
}

a{
    color: rgb(11, 202, 113);
    margin-right: 30px;
    text-decoration: none;
}

#title{
margin-top: 20px;
}

#pizza{
    margin-top: 20px;
}


#dp{
    background: linear-gradient(45deg, );
    color: rgb(62, 30, 204);
    width: 500px;
    padding: 15px;
    border-radius: 50%;
    margin: 20px;
}

#bp{
    background: linear-gradient(45deg, );
    color: rgb(197, 21, 21);
    width: 500px;
    padding: 15px;
    border-radius: 50%;
    margin: 20px; 
}

#cd{
    background: linear-gradient(45deg, );
    color: rgb(37, 57, 240);
    width: 500px;
    padding: 15px;
    border-radius: 50%;
    margin: 20px; 
}

#footer{
    background: black;
    padding: 50px;
    color: cornsilk;
    margin-top: 50px;
}
